@font-face {
  font-family: 'Geometria';
  src: local("Geometria Thin"), local("Geometria-Thin"), url("../fonts/Geometria-Thin.woff2") format("woff2"), url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Geometria-Reg';
  src: local("Geometria Regular"), local("Geometria-Regular"), url("../fonts/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Geometria-Extra';
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("../fonts/Geometria-ExtraLight.woff2") format("woff2"), url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Geometria-Bold';
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?k7tvad");
  src: url("../fonts/icomoon.eot?k7tvad#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?k7tvad") format("truetype"), url("../fonts/icomoon.woff?k7tvad") format("woff"), url("../fonts/icomoon.svg?k7tvad#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "\e900"; }

.icon-magnifying-glass:before {
  content: "\e901"; }

.icon-shopping-bag:before {
  content: "\e902"; }

.icon-user:before {
  content: "\e903"; }

.icon-exchange:before {
  content: "\e900"; }

.icon-handshake:before {
  content: "\e901"; }

.icon-label:before {
  content: "\e902"; }

.icon-like:before {
  content: "\e903"; }

.icon-logo .path1:before {
  content: "\e904";
  color: #1a1a1a; }

.icon-logo .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: white; }

.icon-logo .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: white; }

.icon-online-shop:before {
  content: "\e907"; }

.icon-shipped:before {
  content: "\e908"; }

.icon-facebook-logo:before {
  content: "\e900"; }

.icon-instagram-social-outlined-logo:before {
  content: "\e901"; }

.icon-twitter-social-outlined-logo:before {
  content: "\e902"; }

.icon-youtube:before {
  content: "\e917"; }
